body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #282c34;
  color: white;
}


.dashboard-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #444;
  padding: 12px 15px;
}

.dashboard-table thead {
  background-color: #3a3f4a;
}

.dashboard-table tbody tr:nth-of-type(even) {
  background-color: #2c3038;
}


button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin: 2px;
}

button:hover {
  background-color: #ffffff;
}

button.danger {
  background-color: #f44336;
  color: white;
}
button.danger:hover {
  background-color: #e57373;
}